<%= form_with url: "/login" do |form| %>

  <%= render "./shared/input", obj: @user, key: :email, form: form %>
  <%= render "./shared/password_input", obj: @user, key: :password, form: form %>

  <div>
    <%= form.submit "Login"%>
  </div>

<% end %>
