<<<<<<< HEAD
<h1> Edit Article </h1>

<%= render "form", article: @article%>
=======
<%= render "./shared/form_create", obj: @article, title: "Edit Article", submit_text:"Create"%>
>>>>>>> First styling to the interface
