
<div class ="div_center">
  <span class="header"><%=@user.username%></span>

  <%= link_to(new_article_path, class: "btn btn-primary btn-sm") do %>
    Follow  <i class="bi bi-person-plus-fill"></i>
  <% end %>

  <%= link_to(new_article_path, class: "btn btn-primary btn-sm") do %>
    Unfollow  <i class="bi bi-person-dash-fill"></i>
  <% end %>
</div>

<%= render "./articles/show_articles", articles: @user.articles%>
